# .npmrc - NPM Configuration
# Malarz Trzebnica PHP

# Registry
registry=https://registry.npmjs.org/

# Save exact versions
save-exact=true

# Loglevel
loglevel=warn

# Progress
progress=false

# Engine strict
engine-strict=true
